

*{
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-family: "PT Serif",Georgia,"Times New Roman","DejaVu Serif",serif;
}

.global{
	width: 100%;
	 /*background-color: red;*/
}

li{
	display: inline-block;
}

.droite{
	width: 25%;
	float: left;
}
.main{
	float: left;
	padding-left: 25%;
	width: 50%;
	display: inline-block;
	}
	h1{
		color: #369;
		font-size: 2em;
		padding-top: 10px;
		padding-bottom: 10px;
		text-align: center;
		width: 100%;
	}
	figure{
		display: table;
		margin-right: auto;
		margin-left: auto;
		width: 100%;

	}
	img{
		width: 100%;
	}
	figcaption{
		overflow: hidden;
		text-align: center;
		font-size: 1.2em;
		line-height: 1.6em;
		font-weight: 400;
		color: #fff;
		background-color: rgba(0,0,0, 0.8);
		position: relative;
		top: -1.6em;
		z-index: 3;
	}
	.main p{
		text-align: left;
	}
	.menu_droite{
		height: 75%;
		width: 90%;
		margin-left: 5%;
		background-color: rgba(32,32,32, 1);
		}
		.menu_droite ul, .menu_droite li{
			width: 100%;
		}
		.menu_droite ul li ul li:first-of-type{
			color: #999999;
			font-size: 1.05em;
		}
		.menu_droite>ul li ul li:last-of-type{
			margin-bottom: 35px;
		}
		.main_li{
			border-bottom: 1px solid #000;
			height: 100%;
		}		
		.main_li:last-of-type{
			border-bottom: 0px;
		}
		.main_li ul li{
			color: #89CBE1;
			font-size: 0.9em;
		}		
		.main_li ul li{
			color: #89CBE1;
			font-size: 0.85em;
			padding-top: 15px;
			padding-left: 15px; 
		}


/*Media query*/

@media ( max-width : 1200px ) {
	.main{
		padding-left: 5%;
		width: 70%;
	}
	.droite{
		width: 25%;
	}
}


@media only screen and ( max-width : 993px ){
	.main{
		width: 90%;
		float: none;
	}
	.droite{
		width: 100%;
		float: none;
		padding-top: 20px;
	}
	.header_menu{
		padding: 0;
	}
	.header_bas{
		height: 35px;
	}
	nav{
		width: 100%;
	}
	.nav_haut{
		display: none;
	}
	.nav_bas{
		width: 100%;

	}
	.header_menu{
		width: 100%;
	}
	.header_logo{
		display: none;
	}

}	